# --------------------
# Python
# --------------------
# Байти компіляції (кеш)
__pycache__/
*.pyc
*.o
*.so
*.egg
*.egg-info/
dist/
build/

# Залежності, встановлені віртуальним середовищем
/venv
/env
.venv
.idea/
instance/

# Файли журналів (логів) та тестування
*.log
.coverage
.tox/
.pytest_cache/

# --------------------
# IDE/Редактори (VS Code, Visual Studio)
# --------------------
# Visual Studio / Visual Studio Code (типова папка налаштувань)
.vs/
.vscode/
# Конфігураційні файли користувача
*.sublime-workspace
.idea/

# --------------------
# Операційна система
# --------------------
Thumbs.db

# --------------------
# Додатково для вашого проекту (База Даних)
# --------------------
movie_catalog_dump.sql