name: Deploy Pages

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    permissions:
      contents: read
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build
        run: |
          mkdir public
          echo "Hello world" > public/index.html

      - name: Deploy
        id: deployment
        uses: actions/upload-pages-artifact@v3

      - uses: actions/deploy-pages@v4
